.logo{
    border: solid;
    border-color: black;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    height: 200px;
    width: 300px;
}

.Titulo{
    border: solid;
    border-color: black;
    position: relative;
    height: 200px;
    width: 1275px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    left: 302px;
    bottom: 206px;
}

.campodepreenchimento{
    border: solid;
    border-color: black;
    height: 500px;
    width: 1275px;
    position: relative;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;

    left: 302px;
    bottom: 210px;
}

.campodeescolhas{
    border: solid;
    border-color: black;
    height: 150px;
    width: 1275px;
    position: relative;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;

    left: 302px;
    bottom: 213px;
}

.camponome{
    width: 45%;
    float: right;
    margin: 10px;

    position: relative;
    bottom: 190px;
    left: 10px;
}

.camponome input {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 300%;

    position: relative;
    left: 140px;
    bottom: 35px;
    
}

.camposobrenome{
    width: 45%;
    float: right;
    margin: 10px;

    position: relative;
    bottom: 110px;
    left: -170px;
}

.camposobrenome input {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 300%;

    position: relative;
    left: 140px;
    bottom: 35px;
}

.campouf{
    width: 45%;
    float: right;
    margin: 10px;

    position: relative;
    bottom: 25px;
    left: -350px;
}

.campouf input {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 300%;

    position: relative;
    left: 140px;
    bottom: 35px;
}

.camponasc{
    width: 45%;
    float: right;
    margin: 10px;

    position: relative;
    bottom: -60px;
    left: -532px;
}

.camponasc input {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 90%;

    position: relative;
    left: 140px;
    bottom: 35px;
}

.campocep{
    width: 45%;
    float: right;
    margin: 10px;

    position: relative;
    bottom: -135px;
    left: -715px;
}

.campocep input {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 300%;
    
    position: relative;
    left: 140px;
    bottom: 35px;
}

.campoendereco{
    width: 45%;
    float: right;
    margin: 10px;

    position: relative;
    bottom: -220px;
    left: -898px;
}

.campoendereco input{
    margin: 10px 1%;
    padding: 8px 1%;
    width: 300%;

    position: relative;
    left: 142px;
    bottom: 35px;
    
}

.camponum{
    width: 45%;
    float: right;
    margin: 10px;
}

.camponum input {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 90%;
}